---
layout: default
classes: wide

---
<!--  gallery  -->
        <style TYPE="text/css">
        .gallery-image-wrapper {
          height: 300px;
          width: 300px;
          display: inline-block;
          margin: 1em;
          position: relative;
        }
        .gallery-image {
        }
        .gallery-wrapper{
          margin: auto;
          display: inline-block;
          min-width: 600px;
          max-width: 1200px;
        }
        </style>
        <div class="page">
            <h1>{{ page.title }}</h1>
            <hr />
            {% for image in page.images %}
              <div class="gallery-image-wrapper">
                  <a name="{{ image.name }}"></a>
                  <a href="{{ image.name }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
                      <img class="gallery-image" src="thumbs/{{ image.name }}" />
                  </a>
                  <div class="gallery-image-description">
                    <p>bla description bla bla blaaa lang verhaal</p>
                  </div>
              </div>
            {% endfor %}
        </div>
<!--  end gallery  -->